.button {
    display: inline-block;
    font-family: $Fraunces-font-family;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;   
    text-align: center;
    color: #FEFCF7;
    background-color: #0E8784;
    border-radius: 6px;
    padding: 15px 35px;
    
    &:hover {
        background-color: #66D2CF;
    }
}