.footer {
    margin-bottom: 88px;
    
    &__container {
        background-color: $footer-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 47px 85px;
        // margin-bottom: 88px;
    }

    &__left-side {
        display: flex;
        align-items: center;
    }

    &__logo-img {
        margin-right: 103px;
    }

    &__link-active {
        color: $light-white;
    }

    &__net-pages {
        display: flex;
    }
    
    &__net-page {
        margin-left: 24px;
    }
}