.nav {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
        padding-bottom: 45px;      
    }
    
    &__item-ist {
        display: flex;
        vertical-align: center;
        padding: 0;
        margin: 0;       
    }
    
    &__link {
        font-family: $nav-menu-font-family;
        font-weight: 700;        
        font-style: normal;
        font-size: 12px;
        line-height: 15px;            
        text-transform: uppercase;
        color: $grey;
        margin-left: 32px;
        letter-spacing: 0.923077px;
        
        &:hover {
            color: $grey-hover; 
        }
    }

    &__link-active {
        color: black;
    }
}