.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $light-white;
    padding-top: 43px;
    padding-bottom: 43px;      
    z-index: 9999;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__item-ist {
        display: flex;
        vertical-align: center;
        padding: 0;
        margin: 0;       
    }

    &__item:not(:first-child) {
        margin-left: 32px;
    }

    &__link {
        font-family: $nav-menu-font-family;
        font-weight: 700;        
        font-style: normal;
        font-size: 12px;
        line-height: 15px;            
        text-transform: uppercase;
        color: $grey;
        letter-spacing: 0.923077px;
        
        &:hover {
            color: $grey-hover; 
        }
    }



    &__link-active {
        color: black;
    }
}