.plan {
    
    &__container {
        display: flex;
        align-items: flex-start;
        
        padding-left: 85px;
        padding-right: 85px;
    }
    
    &__list {
        width: 255px;
        margin-right: 125px;
    }
    
    &__item-link {
        font-family: $Fraunces-font-family;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;        
        color: #333D4B;
        opacity: 0.4;
        text-transform: capitalize;
        
        &:hover {
            opacity: 1;
        }
    }
    
    &__list-number {
        color: #0E8784;        
        margin-right: 25px;
    }
    
    &__item-divider {
        width: 255px;
        height: 1px;
        
        background: $grey;
        mix-blend-mode: normal;
        opacity: 0.25;  
        
        margin: 24px 0;
    }
    
    &__item-link--avtive {
        opacity: 1;
    }
    
    &__step {
        margin-bottom: 88px;
    }
    
    &__step-heading {
        font-family: $Fraunces-font-family;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;        
        color: $grey;        
        margin-bottom: 56px;
    }
    
    &__step-options {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__step-option {
        width: 228px;
        background-color: #F4F1EB;
        border-radius: 8px;        
        padding: 32px 25px 84px 28px;
        margin-right: 23px;
        color: #333D4B;        
    }
    
    &__step-option-heading {
        font-family: $Fraunces-font-family;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px;
    }
    
    &__step-option-text {
        font-family: $nav-menu-font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
    }
    
    &__step-option--active {
        background-color: #0E8784;        
        color: $light-white;        
    }    
}

.summary {
        
    padding-right: 125px;
    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    &__box {
        max-width: 730px;
        padding: 27px 64px;
        background-color: #2C343E;
    }
    
    &__heading {
        font-family: $nav-menu-font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;        
        color: #FFFFFF;        
        mix-blend-mode: normal;
        opacity: 0.5;        
        margin-bottom: 8px;
    }
    
    &__text {
        font-family: $Fraunces-font-family;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;       
        color: #FFFFFF;        
    }
}

