$grey: #83888F;
$grey-hover: #000000;
$light-white: #FEFCF7;
$footer-color: #2C343E;
$hero-heading-color: #FFFFFF;
$grey-shadow: 0px 1px 0px $grey-hover;

$nav-menu-font-family: 'Barlow';
$Fraunces-font-family: 'Fraunces';