$grey: #83888F;
$grey-hover: #000000;
$grey-shadow: 0px 1px 0px $grey-hover;
$nav-menu-font-family: 'Barlow';
$Fraunces-font-family: 'Fraunces';
 
// HERO

$hero-heading-color: #FFFFFF;
$hero-heading-font: 'Fraunces';
$hero-heading-weight: 900;

$light-white: #FEFCF7;
$footer-color: #2C343E;